aiohttp
aiosignal
aiostream
asyncpg
attrs
beautifulsoup4
certifi
django-environ
environs
fast-depends
fastapi
fastapi-cli
faststream
flower
fqdn
gunicorn
httpcore
httptools
httpx
huggingface-hub
imageio
imageio-ffmpeg
ipykernel
ipython
Jinja2
matplotlib-inline
nltk
numpy
onnxruntime-gpu
onnx
pydantic
pydantic-settings
pydantic_core
pydub
python-dateutil
python-dotenv
python-json-logger
python-multipart
PyYAML
redis
sniffio
soundfile
starlette
tokenizers
tornado
tqdm
transformers
urllib3
uvicorn
vllm
huggingface_hub
accelerate 
bitsandbytes